BOT_TOKEN=твой-токен-бота
ADMIN_ID=твой-id-telegram

# Настройки маршрутизации (True = OpenRouter, False = LM Studio)
USE_OPENROUTER=False
# Ключи и адреса
OPENROUTER_API_KEY=sk-or-v1-твой-ключ
# Имя модели для облака (используется только если USE_OPENROUTER=True)
OPENROUTER_MODEL=твоя-модель

# Адрес сервера LM Studio
LM_STUDIO_URL=http://127.0.0.1:1234/v1

# Tavily API для веб-поиска
TAVILY_API_KEY=tvly-dev-твой-ключ

# Возможности текущей модели

# Использование зрения для моделей, у которых оно есть
VISION_ENABLED=False
# Использование инструментов
TOOLS_ENABLED=False
# Включить поиск в интернете через Tavily (True/False)
WEB_SEARCH_ENABLED=False